<div style="font-size: 28px; font-weight: bold; height: 50px">LETS PLAY</div>

<% if current_user.challenges.last %>
  <div style="border: 1px dotted #ddd; width: 425px; text-align: center; float: left">
    <%= render :partial => "challenges/large_display", :locals => { :challenge => current_user.challenges.last } %>
  </div>

  <div style="padding-top: 60px; padding-left: 20px; float: left">
    <h3>&larr; YOUR LATEST CHALLENGE!</h3>
    <%= link_to "SEND ANOTHER ONE RIGHT NOW BOY!", new_challenge_path %>
  </div>

<% else %>
  <%= link_to "Add challenge", new_challenge_path %>
<% end %>



<div class="clear">&nbsp;</div>

<div class="teaser-challenges">
  <% Challenge.newly_added(3).each do |challenge| %>
    <%= render :partial => "challenges/display", :locals => { :challenge => challenge, :thumb => :home_page, :create_links => true } %>
  <% end %>
</div>

<div class="clear">&nbsp;</div>

<h3>Newly added</h3>
