<h3>Awesome! Buying 'AEIOU' gives you a clue & UNICEF $1.50 to feed a child
  'Plumpy Nut' for a day! You Rock!</h3>

<div>
  <%= image_tag 'plumpy_nut.png'  %>
</div>

<h3>
  <%= link_to "Back to the challenge!", new_challenge_response_path(@resp.challenge_id) %>
</h3>

