<h2>Need a clue?!?!</h2>

<h3>
  Unlock all the 'AEIOU' and see if you can 'PWN' the challenge. 
</h3>

<h3>
  And cos we're so fabulous, with each purchase we'll be donating $1.50 to UNICEF so they can feed a malnourished child much needed breakfast, lunch & dinner.
</h3>

<h3>
  Want more info on the UNICEF survival packs? <%= link_to "click here!", "https://secure3.convio.net/uncfca/site/SPageServer?pagename=FAQS_EN&JServSessionIdr004=b8uqhwvur1.app339a" %>
</h3>

<div class="google-checkout-wrapper">
  <form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/823148050943833" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <input name="item_name_1" type="hidden" value="AEIOU Pack"/>
    <input name="item_description_1" type="hidden" value="Unlocked the AEIOU in Stegano-graphic puzzle, brought to you by Impossible Mission Force. 1.50 from this sale will go to UNICEF, helping them to feed a child for a day."/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_price_1" type="hidden" value="2.99"/>
    <input name="item_currency_1" type="hidden" value="GBP"/>
    <input name="shopping-cart.items.item-1.digital-content.key" type="hidden" value="LYobVL3GCXDCQ8NIRefekrqWf/w2LZNuZfxh7pttCCg="/>
    <input name="shopping-cart.items.item-1.digital-content.key.is-encrypted" type="hidden" value="true"/>
    <input name="shopping-cart.items.item-1.digital-content.url" type="hidden" value="<%= new_vowel_purchase_url(:unlock_token => @resp.unlock_token, :resp_id => @resp.id) %>"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=823148050943833&amp;w=117&amp;h=48&amp;style=trans&amp;variant=text&amp;loc=en_US" type="image"/>
  </form>
</div>
