<div class="response-page">

  <%= render :partial => "challenges/large_display", :locals => { :challenge => @challenge } %>

  <%= form_tag challenge_responses_path(@challenge) do %>
    <label for="answer">Your answer:</label>
    <%= text_field_tag :answer %>
  <% end  %>
</div>
