<div class="challenge">
  <div class="image-one">
    <% create_links.nil? && create_links = true %>

    <% if create_links %>
      <%= link_to image_tag(challenge.image_1.image(thumb)), new_challenge_response_path(challenge) %>
    <% else %>
      <%= image_tag challenge.image_1.image(thumb) %>
    <% end %>
  </div>

  <div class="image-two">
    <% if create_links %>
      <%= link_to image_tag(challenge.image_2.image(thumb)), new_challenge_response_path(challenge) %>
    <% else %>
      <%= image_tag challenge.image_2.image(thumb) %>
    <% end %>
  </div>
</div>
