<div class="challenge">
  <div class="image-one">
    <%= image_tag challenge.image_1.image(thumb) %>
  </div>

  <div class="image-two">
    <%= image_tag challenge.image_2.image(thumb) %>
  </div>
</div>
