<div class="challenge-larger-display">
  <div class="image-one">
    <%= image_tag challenge.image_1.image(:large) %>
  </div>

  <div class="image-two">
    <%= image_tag challenge.image_2.image(:large) %>
  </div>
</div>
