<h2>Can you solve any of these suckas? HUH?!</h2>


<div class="challenge-list">

  <% @challenges.each do |challenge| %>
    <%= render :partial => 'challenges/display', :locals => { :create_links => true, :challenge => challenge, :thumb => :home_page } %>
  <% end %>


  <div class="clear">&nbsp;</div>

</div>
