body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.flash {
  margin: 20px 0;
  color: green;
  font-size: 16px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.clear {
  clear: both;
}

/* LAYOUT */

.wrapper {
  width: 1000px;
  margin: auto;


  .header {
    height: 100px;
    background: #eee;
    text-align: center;

    .title {
      height: 80px;
      line-height: 80px;
      font-size: 30px;
      font-weight: bold;
    }

    .nav {
      float: right;
      margin-right: 40px;
    }
  }
}

/* END LAYOUT */

.challenge-large-display {
  .clue {
    clear: both;
    padding-top: 30px;
    margin-bottom: 30px;
  }

  .image-one {
    float: left;
    margin-right: 20px;
  }

  .image-two {
    float: left;
  }
}

.home-page {

  .teaser-text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    clear: both;
  }

  form.user_new {
    padding-top: 20px;
    display: block;
    width: 350px;
    margin: auto;
    text-align: center;

    .field {
      margin-top: 10px;
    }

    input {
      text-align: center;
    }
  }


}

.teaser-challenges {
  margin-top: 40px;

  .challenge {
    float: left;
    border: 1px solid #ddd;
    margin-right: 47px;
  }

  .challenge:last-child {
    margin-right: 0;
  }

  .image-one {
    float: left;
  }

  .image-two {
    float: left;
  }
}

